<link rel="stylesheet" href="/css/habit.css">

<div class="habitShowContainer">
    <div class="habitContainer">
        <div class="habitDetail">
            <h1>
                <%=habit.habit_name%>
            </h1>

            <div style="color:blue;">
                <%=starting%>
            </div>
        </div>
    </div>

    <div id="weekDays">
        <%let i=1;for(day of lastDays){%>
            <%if(day.action){%>
                <div class="dayRow">
                    <div>
                        <%=day.date%>
                    </div>

                    <%if(day.action=="Done" ){%>
                        <form action="/active/<%=habit._id%>" method="post" id="formActivity">
                            <input type="hidden" name="dayBefore" value=<%=(lastDays.length) - i++%> />
                            <button class="btn btn-success" type="submit">
                                <%=day.action%>
                            </button>
                        </form>


                        <%}else if(day.action=="Not-Done" ){%>
                            <form action="/active/<%=habit._id%>" method="post" id="formActivity">
                                <input type="hidden" name="dayBefore" value=<%=(lastDays.length) - i++%> />
                                <button class="btn btn-danger type=" submit">
                                    <%=day.action%>
                                </button>
                            </form>

                            <%}else{%>
                                <form action="/active/<%=habit._id%>" method="post" id="formActivity">
                                    <input type="hidden" name="dayBefore" value=<%=(lastDays.length) - i++%> />
                                    <button class="btn btn-warning" type="submit">
                                        <%=day.action%>
                                    </button>
                                </form>
                                <%}%>

                </div>
                <%}%>
                    <%}%>
    </div>

    <div class="recordContainer">
        <section class="statis mt-4 text-center">
            <div class="row">

                <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                    <div class="box bg-danger p-3 ">
                        <i class="uil-user"></i>
                        <h4>
                            <%=habit.current_Streak%> Days
                        </h4>
                        <p class="lead">Current Streak</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                    <div class="box bg-warning p-3">
                        <i class="uil-shopping-cart"></i>
                        <h4>
                            <%=habit.success_Days+" /"+habit.totalDaysTillDate%>
                        </h4>
                        <p class="lead">Score Days</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 ">
                    <div class="box bg-success p-3">
                        <i class="uil-feedback"></i>
                        <h4>
                            <%=habit.best_Streak%> Days
                        </h4>
                        <p class="lead">Best Streak</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>